:root{
    --bs-body-color:#14FFEC;
    --bs-btn-bg:#0D7377;
   }
   .SigninPage{
       
       background-color: #212121;
       height: 100vh;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   .Signin{
       width: 50%;
       button{
           background-color: #0D7377
           
       }
   }
   }