.products{
    display:  flex;
    justify-content: space-evenly;
    padding :2rem;
    flex-wrap: wrap;
    background-image: url(bg.avif);
    background-repeat:repeat;
    scroll-behavior: smooth;
  

    
}
.card {
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(52, 49, 49, 0.271);
    backdrop-filter: blur(10px);
    max-width:44vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    cursor: pointer;
    color :white;
}

.card:hover {
    transform: scale(1.05); /* Increase the size on hover */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 6px 6px, rgba(0, 0, 0, 0.25) 0px 15px 15px;
}
.card img{
    border-radius: 0.5rem;
}

.icons{
   height: 27px;
   width: 27px;
   color:rgb(160, 154, 151);
   cursor: pointer;
}
.icons:hover,:focus{
    color:red;
}

.icondiv{
    position: absolute;
    margin:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(229, 221, 221);
    text-wrap: wrap;
}