body{
    background:black;
}
.bg-steel {
  background-color: black;
}

.navbar-icon {
    color: black;
    width: 6; /* Adjust the width as needed */
    height:6;/*in the aspect ratio */
    margin-right: 10px; /* Add some spacing between the icon and text */
}


#Introduction{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url("background.png");
    background-position: center;
    background-size: cover;
    background-attachment : fixed;
    color: white;
    font-size: 40px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 1000;
    overflow: hidden;
    padding : 0;
    margin : 0;
    line-height : 20px;
    border: 2px solid black;
    -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
    animation: myfirst 5s ;
}




#quote{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url("quote1.png");
    background-position: center;
    background-size: cover;
    background-attachment : fixed;
    color: white;
    font-style: oblique;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    font-weight: 1000;
    overflow: hidden;
    padding : 0;
    margin : 0;
    line-height : 20px;
    border: 2px solid black;
    transition: background 0.25s ease;
    -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
    animation: myfirst 5s ;

}

.service .service-img {
    position: relative;
}

.service .service-img .icon {
    width: 90px;
    height: 90px;
    background: linear-gradient(to right,#00e0fe, #1107fe);
    color: #0f0d0d;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}

.service .service-img .icon i {
    font-size: 20px;
}

.col-md-4{
    font-family: serif;
    font-style: italic;
    font-size: 0.5em;
    text-align: center;
    line-height: normal;
}

#quote {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 20px;
    text-align: center;
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Apply the fade-in animation */
}

.quote-text {
    font-family: serif;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    line-height: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




#loginsignin{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url("background.png");
    color: white;
    font-size: 30px;
    height: 200px;
    text-align: center;
    height: 100vh;
    font-weight: 1000;
    font-family: serif;
    font-style: italic;
    overflow: hidden;
    padding : 160px;
    padding-top: 300px;
    margin: 0;

}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: black;
    background-color: #7d75b6;
    color: white;
    border-radius: 1px;
    font-size: 20px;
    font-weight: 1000;
    padding: 0.5em 1em;
    transition: all 0.5s;
}

a.button:hover{
    transform: translateY(-10px);
    background: white;
    color: red;
}

@-webkit-keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }


@keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }


.scroll-watcher{
    height: 10px;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: red;
    width : 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear ;
    animation-timeline: scroll();
    }


@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

  
  