<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the animAR_AR</h1>
        <form action="/apply_filter" method="post">
            <button type="submit">Apply Filter</button>
        </form>

        <form action="/download_images" method="post">
            <button type="submit" class="download-btn">Download Images</button>
        </form>
    </div>
</body>
</html>
