<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }
        .container-registration {
            width: 60%;
            margin: 20px auto;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
            padding: 30px;
        }

        h1 {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 20px;
        }

        .form-row {
            display: grid;
            grid-template-columns: 0.25fr .45fr;
            gap: 20px;
            margin-bottom: 15px;
            align-items: center;
        }

        .form-row label {
            text-align: right;
            font-weight: bold;
        }

        .form-row input,
        .form-row select {
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box; /* Ensures padding doesn't increase the width */
        }

        .reg-submit {
            width: 100%;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            cursor: pointer;
            margin-top: 15px;
        }

        .reg-submit:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container-registration">
        <h1>REGISTRATION FORM</h1>
        <form action="/register-submit" id="reg-form" method="post" class="reg-form">
            <div class="form-row">
                <label for="fname">Name Of Student:</label>
                <input type="text" name="fname" placeholder="Name" required>
            </div>

            <div class="form-row">
                <label for="grade">Grade:</label>
                <input type="number" name="grade" placeholder="10" required>

                <label for="rollnum">Roll Number:</label>
                <input type="number" name="rollnum" placeholder="10762" required>
            </div>

            <div class="form-row">
                <label for="parentname">Parent/Guardian Name:</label>
                <input type="text" name="parentname" placeholder="Parent's Name" required>
            </div>

            <div class="form-row">
                <label for="phonenum">Phone Number:</label>
                <input type="tel" name="phonenum" placeholder="820..." required>
            </div>

            <div class="form-row">
                <label for="emailadd">Email:</label>
                <input type="email" name="emailadd" placeholder="abc@gmail.com" required>
            </div>

            <div class="form-row">
                <label for="schoolname">Choose your School:</label>
                <select name="schoolname">
                    <option value="Delhi Public School (DPS) Ranchi">Delhi Public School (DPS) Ranchi</option>
                    <option value="St. Xavier's School">St. Xavier's School</option>
                </select>
            </div>

            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div>

            <div class="form-row">
                <label for="address" id = "location">Pickup Location:</label>
                <input type="text" id="autocomplete" name="location" required>
            </div>

            <% if(locals.error) { %>
                <strong style="color: red;"><%= error %></strong><br>
            <% } %>
            <input type="submit" value="Submit" class="reg-submit">
        </form>
    </div>
    <script>
          function initAutocomplete() {
            const input = document.getElementById('autocomplete');
            const autocomplete = new google.maps.places.Autocomplete(input);
        }
        try{
        window.onload = function () {
            const apiKey = '<%= apiKey %>';
            const apiUrl = ` https://maps.googleapis.com/maps/api/js?key=${apiKey}&libraries=places&callback=initAutocomplete`;
    
            const script = document.createElement('script');
            script.src = apiUrl;
            script.defer = true;
            script.async = true;
    
            document.head.appendChild(script);
        };
    }
    catch(err){
        console.log(err.message);
    }
    </script>
    
</body>
</html>
