:root{
 --bs-body-color:#14FFEC;
 --bs-btn-bg:#0D7377;
}
.SignupPage{
    
    background-color: #212121;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
.Signup{
    width: 50%;
    button{
        background-color: #0D7377
        
    }
}
}