<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/feedback.css">
    <script src="https://kit.fontawesome.com/0e9e6c2193.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bg-white">
        <form>
            <h3 id="ratings">How would you rate your experience?</h3>
            <div class="container">
                <i class="fa-regular fa-face-laugh"></i>
                <i class="fa-regular fa-face-smile"></i>
                <i class="fa-regular fa-face-meh"></i>
                <i class="fa-regular fa-face-frown"></i>
                <i class="fa-regular fa-face-angry"></i>
            </div>
            <h3>Tell Us More About Your Experience</h3>
            <label for="freeform"></label>
            <textarea id="freeform" name="freeform"></textarea>
            <h3>Please Give Us Your Valueable Suggestions</h3>
            <label for="freeform"></label>
            <textarea id="freeform" name="freeform"></textarea>
            
            <input type="submit" class="submit-button">
        </form>
        
    </div>
</body>
</html>