<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Check Up</title>
</head>
<!-- For therapist -->
<body>
    <div class="box">
        <div class="login">
            <div class="login2">
                <form action="">
                <h2>Check Up</h2>
                <input type="text" placeholder="Your Name">
                <input type="number" placeholder="Your age">
                <select id="gender" name="gender">
                    <option value="0">Female</option>
                    <option value="1">Male</option>
                  </select>
                <input type="number" placeholder="Blood Pressure">
                <input type="number" placeholder="Sugar Level">
                <input type="number" placeholder="Max-Heart Rate">
                <input type="number" placeholder="Cholestrol Level">
                <a href="#">Let's Go</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>