.Aboutcont {
	backdrop-filter: blur(10px);
	position: relative;
	color: white;
	height: 100vh;
	display: flex;
}
.mainC {
	text-align: center;
	max-width: 500px;
	justify-content: center;
	align-items: center;
}
.puraAbout {
	transition: all 0.1s linear;
	z-index: 10;
}
.puraAbout:hover {
	transform: scale(1);
}

.Aboutcont::after {
	content: "";
	opacity: 0.8;
	background: rgb(26, 31, 41)
		url("https://i.pinimg.com/736x/38/b2/ab/38b2ab617272e06e30b86543a9346141.jpg");
	background-position: center;
	background-size: cover;
	/* filter: blur(5px);
	-webkit-filter: blur(5px); */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
}
