{%extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" style="max-width: 800px; margin:auto;">
            {% csrf_token %}
            <fieldset class="form-group" style="margin-top: 50px;">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" id="login">Sign Up</button>
            </div>
            <br>
        </form>
        <div class="border-top pt-3" >
            <small  class = "text-muted" id="last">

                Already Have An Account? <a class="ml-2" href="{% url 'login'%}">Login In</a>
            </small>
        </div>
    </div>
{% endblock content %}
