<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <link rel="stylesheet" href="{{url_for('static', filename='caption.css')}}">
</head>
<body>

    <div class="navbar">
      <a href="/">Home</a>
      <a href="/first">About Us</a>
      <a href="/second">About our Project</a>
    </div>
  
<div class="about">
    <section class="developer">
        <img src="mebit.png" alt="Developer 1">
        <h2>Hritabhash Ray</h2>
     
    <div class="do">
        
    </div>
      <div class="wrapper">
         <div class="icon linkedin">
            <div class="tooltip">
             Linkedin
            </div>
           <a href="https://www.linkedin.com/in/hritabhash-ray-53563922b/"><i class="fab fa-linkedin"></i></a>
         </div>
        
         
         <div class="icon github">
            <div class="tooltip">
               Github
            </div>
           
          <a href=" https://github.com/Hritabhash1"><i class="fab fa-github"></i></a>
         </div>
         
      </div>
   

    <section class="developer">
        <img src="assets\images\sh.jpg" alt="Developer 2">
        <h2>Shouryaman Singh</h2>
        <div class="wrapper">
            <div class="icon linkedin">
               <div class="tooltip">
                Linkedin
               </div>
              <a href="https://www.linkedin.com/in/shouryaman"><i class="fab fa-linkedin"></i></a>
            </div>
           
            
            <div class="icon github">
               <div class="tooltip">
                  Github
               </div>
              
             <a href="https://www.github.com/retr0991"><i class="fab fa-github"></i></a>
            </div>
            
         </div>
      
    </section>

    <section class="developer">
        <img src="rh.jpg" alt="Developer 3">
        <h2>Rahul Jha</h2>
        <div class="wrapper">
            <div class="icon linkedin">
               <div class="tooltip">
                Linkedin
               </div>
              <a href="https://www.linkedin.com/in/rahul-jha-91934224b/"><i class="fab fa-linkedin"></i></a>
            </div>
           
            
            <div class="icon github">
               <div class="tooltip">
                  Github
               </div>
              
             <a href=" https://github.com/iygthkg"><i class="fab fa-github"></i></a>
            </div>
            
         </div>
    </section>
</div>
    <footer>
        <p>IEEE Mega Project</p>
    </footer>
</body>
</html>
